.navbar {
    background-color: var(--body-bg-fst);
    color: var(--body-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-items {
    display: flex;
    align-items: center;
  }

.logo {
    font-size: var(--font-md);
    font-weight: 600;
}
  
.toggle-box {
    gap: var(--spacing-sm);
    font-size: var(--font-sm);
    display: flex;
    align-items: center;
}
