<% if (readmes.length === 0) { %>
<p>You haven't saved any readmes yet.</p>
<% } else { %>
<ul class="profile">
  <% readmes.forEach(function(readme) { %>
  <li>
    <div>
      <strong><%= readme.title || 'Untitled' %></strong>
    </div>

    <div class="profile-actions">
      <form action="/readme/download" method="get" style="display: inline">
        <input type="hidden" name="readmeId" value="<%= readme._id %>" />
        <button type="submit" class="button primary-button">Download</button>
      </form>

      <a href="/readme/edit/<%= readme._id %>" class="button primary-button"
        >Edit</a
      >

      <form action="/readme/delete" method="post" style="display: inline">
        <input type="hidden" name="readmeId" value="<%= readme._id %>" />
        <button type="submit" class="button primary-button">Delete</button>
      </form>
    </div>
  </li>
  <% }); %>
</ul>
<% } %>
