<!-- Page Content -->
<!-- Components -->
<div class="col-lg-auto fixed-width">
    <div class="card">
      <div class="card-header">Components</div>
      <!-- Added d-flex flex-lg-column to control inner layout -->
      <div class="card-body d-flex flex-row flex-lg-column">
        <div class="p-2 flex-fill">
          <h5>Selected Components</h5>
          <ul class="list-group" id="selectedList"></ul>
        </div>
        <div class="p-2 flex-fill">
          <h5>Available Components</h5>
          <ul class="list-group" id="availableList"></ul>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Editor -->
  <div class="col-lg">
    <div class="card">
      <div class="card-header">Editor</div>
    
        <textarea
          id="editorTextarea"
          class="form-control"
          placeholder="Edit content..."
        ></textarea>

    </div>
  </div>
  
  <!-- Preview -->
  <div class="col-lg">
    <div class="card">
      <div class="card-header">Preview</div>
      <div class="card-body">
        <div id="previewArea">
          <p>Preview will be displayed here.</p>
        </div>
      </div>
    </div>
  </div>
  