<!-- Page Content -->
<!-- Components -->
<div>
  <div>
    <div>Components</div>
    <div>
      <div>
        <h5>Selected Components</h5>
        <ul id="selectedList"></ul>
      </div>
      <div>
        <h5>Available Components</h5>
        <ul id="availableList"></ul>
      </div>
    </div>
  </div>
</div>

<!-- Editor -->
<div>
  <div>
    <div>Editor</div>

    <textarea id="editorTextarea" placeholder="Edit content..."></textarea>
  </div>
</div>

<!-- Preview -->
<div>
  <div>
    <div>Preview</div>
    <div>
      <div id="previewArea">
        <p>Preview will be displayed here.</p>
      </div>
    </div>
  </div>
</div>
