<div class="container-fluid main-container">
  <div class="row h-100">
    <div class="col-12 col-md-2">
      <%- include('editor/components') %>
    </div>
    <div class="col-12 col-md-5">
      <%- include('editor/edit') %>
    </div>
    <div class="col-12 col-md-5">
      <%- include('editor/preview') %>
    </div>
  </div>
</div>

<script src="/showdown/showdown.min.js"></script>
<script src="/javascript/editor.js"></script>

