<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <title>ReadmeMaker</title>
  </head>
  <body>
    <!-- Navbar -->
    <nav></nav>
    <!-- Main Content -->
    <main>
      <div class="d-flex gap-3 p-3 h-100">
        <!-- Left Column -->
        <div class="card">
          <div class="card-header">Components</div>
          <div class="card-body d-flex flex-column gap-3">
            <!-- Selected Components Section (Top) -->
            <div
              id="selected-components"
              class="d-flex flex-column gap-2"
            ></div>
            <hr />
            <!-- Available Components Section (Bottom) -->
            <div
              id="available-components"
              class="d-flex flex-column gap-2"
            ></div>
          </div>
        </div>

        <!-- Middle Column -->
        <div class="card flex-grow-1">
          <div class="card-header">Edit</div>
          <div class="card-body">
            <div
              id="markdown-editor"
              contenteditable="true"
              class="form-control h-100"
              placeholder="Edit your Markdown here..."
            ></div>
          </div>
        </div>

        <!-- Right Column -->
        <div class="card flex-grow-1">
          <div class="card-header">Preview</div>
          <div id="markdown-preview" class="p-3 h-100"></div>
          <button id="download-markdown" class="btn btn-primary m-3">Download Markdown</button>
        </div>
      </div>
    </main>

    <!-- Footer -->
    <footer></footer>
    <!-- Custom JS Files -->
    <script src="/js/main.js"></script>
    <script src="/js/preview.js"></script>
    <script src="/js/download.js"></script>
    <script src="/showdown/showdown.min.js"></script>
  </body>
</html>
