<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title><%= title %></title>
    <!-- Layout and Global Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/globals.css" />
    <link rel="stylesheet" href="/stylesheets/layout.css" />
    <!-- Components Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/components/cards.css" />
    <link rel="stylesheet" href="/stylesheets/components/buttons.css" />
    <link rel="stylesheet" href="/stylesheets/components/scrollbar.css" />
    <link rel="stylesheet" href="/stylesheets/components/input.css" />
    <!-- Sections Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/sections/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/sections/footer.css" />
    <link rel="stylesheet" href="/stylesheets/sections/auth.css" />
    <link rel="stylesheet" href="/stylesheets/sections/editor.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
  </head>
  <body>
    <nav class="layout-nav"><%- include('./navbar') %></nav>

    <main class="layout-main"><%- body -%></main>

    <footer class="layout-footer">
      <%- include('./footer', { readme: typeof readme !== 'undefined' ? readme :
      null }) %>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/10.0.0/marked.min.js"></script>
    <script type="module" src="/javascript/main.js"></script>
  </body>
</html>
