<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <!-- Navbar -->
    <nav><%- include('./navbar') %></nav>

    <!-- Page Content -->
    <main><%- body %></main>

    <!-- Footer -->
    <footer><%- include('./footer') %></footer>

    <!-- Scripts -->
    <script src="/marked/marked.umd.js"></script>
    <script type="module" src="/javascript/main.js"></script>
  </body>
</html>
