<!DOCTYPE html>
<html data-theme="dark">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/readmemaker.css" />
    <link rel="stylesheet" href="/lib/fontawesome/css/all.min.css" />
  </head>
  <body>
    <nav class="layout-nav"><%- include('./navbar') %></nav>

    <main class="layout-main"><%- body -%></main>

    <footer class="layout-footer">
      <%- include('./footer', { readme: typeof readme !== 'undefined' ? readme :
      null }) %>
    </footer>

    <script src="/lib/marked/js/marked.min.js"></script>
    <script src="/lib/fontawesome/js/all.min.js"></script>
    <script type="module" src="/javascript/main.js"></script>
  </body>
</html>
