<!DOCTYPE html>
<html data-bs-theme="light">
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bootstrap-icons/bootstrap-icons.css" />
    <link rel="stylesheet" href="/stylesheets/theme.css" />
  </head>
  <body>
    <nav class="navbar">
      <div class="container-fluid">
        <div class="ms-auto">
          <div class="dropdown">
            <button
              class="btn btn-secondary dropdown-toggle"
              type="button"
              id="dropdownMenuButton"
              data-bs-toggle="dropdown"
            >
            <i class="bi bi-sliders2"></i>
            </button>
            <div
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="dropdownMenuButton"
            >
              <!-- Sign in button -->
              <button class="dropdown-item btn" type="button">Sign in</button>
              <!-- Sign up button -->
              <button class="dropdown-item btn" type="button">Sign up</button>
              <!-- Dark Mode Switch -->
              <div class="dropdown-item btn">
                <div class="form-check form-switch">
                  <label class="form-check-label" for="themeSwitch">Dark Mode</label>
                  <input
                    class="form-check-input"
                    type="checkbox"
                    role="switch"
                    id="themeSwitch"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <%- body %>

    <!-- Scripts -->
    <script src="/javascripts/theme.js"></script>
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
