<div class="navbar">
  <div class="logo">
    <a href="/">ReadmeMaker</a>
  </div>

  <!-- Burger toggle -->
  <button class="nav-toggle" aria-label="Toggle menu">
    <span></span>
    <span></span>
    <span></span>
  </button>
</div>

<aside class="sidebar">
  <!-- Close button -->
  <button class=" button sidebar-close" aria-label="Close menu">×</button>

  <hr/>

  <!-- Links -->
  <div class="sidebar-links">
    <% if (user) { %>
      <a class="button" href="/profile">Profile</a>
      <a class="button" href="/auth/logout">Logout</a>
    <% } else { %>
      <a class="button" href="/auth/login">Login</a>
      <a class="button" href="/auth/register">Register</a>
    <% } %>
  </div>

  <!-- Theme toggle at bottom -->
  <hr/>
  <div class="toggle-box">
    <i class="fa-solid fa-sun"></i>
    <label class="switch">
      <input type="checkbox" role="switch" class="theme-switch" />
      <span class="slider"></span>
    </label>
    <i class="fa-solid fa-moon"></i>
  </div>
</aside>
