<div class="navbar">
  <div class="logo">
    <a href="/"
      ><img
        src="/resources/logo-light.svg"
        alt="ReadmeMaker Logo"
        id="appLogo"
        class="logo-img"
    /></a>
  </div>
  <div class="nav-actions">
    <% if (user) { %>
    <a class="button nav-button" href="/profile">Profile</a>
    <a class="button nav-button" href="/auth/logout">Logout</a>
    <% } else { %>
    <a class="button nav-button" href="/auth/login">Login</a>
    <a class="button nav-button" href="/auth/register">Register</a>
    <% } %>
  </div>
</div>
