<div>
  <!-- Left Side -->
  <div></div>

  <!-- Right side -->
  <div>
    <button type="button">Sign in</button>
    <button type="button">Sign up</button>
    <div>
      <button"
        type="button"
      >
        Dropdown
      </button>
      <div>
        <div>
          <div>
            <label for="themeSwitch">Dark Mode</label>
            <input
              type="checkbox"
              role="switch"
              id="themeSwitch"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
