<div class="navbar">
  <!-- Left Side -->
  <div class="logo">ReadmeMaker</div>
  <!-- Right Side -->
  <div class="nav-items">
    <div class="toggle-box">
      <i class="fa-solid fa-sun"></i>
      <label class="switch">
        <input type="checkbox" role="switch" id="themeSwitch" />
        <span class="slider"></span>
      </label>
      <i class="fa-solid fa-moon"></i>
    </div>
  </div>
</div>