<div class="navbar">
  <!-- Left Side -->
  <div class="logo">ReadmeMaker</div>
  <!-- Right Side -->
  <div class="nav-items">
    <div>
      <% if (user) { %>
      <a href="/profile">Profile</a>
      <a href="/auth/logout">Logout</a>
      <% } else { %>
      <a href="/auth/login">Login</a>
      <a href="/auth/register">Register</a>
      <% } %>
    </div>
    <div class="toggle-box">
      <i class="fa-solid fa-sun"></i>
      <label class="switch">
        <input type="checkbox" role="switch" id="themeSwitch" />
        <span class="slider"></span>
      </label>
      <i class="fa-solid fa-moon"></i>
    </div>
  </div>
</div>
