/* editor.css */
.editor-layout {
  display: grid;
  grid-template-columns: 300px 1fr 1fr;
  gap: var(--spacing-md);
  height: 85vh;
}

@media (max-width: 768px) {
  .editor-layout {
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content min-content;
  }
}

.editor #editorTextarea {
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  border: none;
  background-color: var(--body-bg-snd);
  color: var(--body-color);
  min-height: 65vh;
}

.editor #editorTextarea:focus,
.editor #editorTextarea:active {
  outline: none;
  border: none;
}

.card {
  background-color: var(--body-bg-snd);
  border-radius: var(--border-radius-md);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-height: 50vh;
  height: 100%;
}

.card .card-body {
  display: flex;
  flex-direction: column;
  padding-top: var(--spacing-sm);
  padding-bottom: var(--spacing-sm);
}

.card.preview .card-body {
  display: flex;
  flex-direction: column;
}

.card.preview .card-header.preview-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card.preview .card-header #saveReadmeBtn {
  position: absolute;
  top: 50%;
  right: var(--spacing-md);
  transform: translateY(-50%);
}

.card .card-header {
  padding: var(--spacing-sm) var(--spacing-md);
  position: relative;
  border-bottom: 1px solid var(--body-color);
}

.card .card-body #previewArea * {
  padding: revert;
  margin: revert;
}

.card .card-body #previewArea p {
  margin: 1em 0;
  line-height: 1.5;
}

.card .card-body #previewArea h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.column {
  padding: var(--spacing-sm);
  white-space: normal;
  overflow-wrap: break-word;
  word-wrap: break-word;
  overflow: clip auto;
}

.md-json-comp {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: start;
  list-style-type: none;
  margin-top: var(--spacing-xs);
  margin-bottom: var(--spacing-xs);
}

.md-json-comp button.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
}
