@import url('../lib/font.css');

:root {
    --primary: #024087;
    --secondary: #6c757d;
    --success: #198754;
    --info: #0dcaf0;
    --warning: #ffc107;
    --danger: #dc3545;

    --body-text: #010409;
    --button-text: #000000;
    --button-hover: #010409;
    --body-bg-fst: #f8f9fa;
    --body-bg-snd: #eeefef;
    --button-bg-fst: #e3e3e3;
    --light: #f8f9fa;
    --dark: #010409;

    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 0.75rem;
    --spacing-md: 1rem;

    --border-radius-sm: 0.25rem;
    --border-radius-md: 0.5rem;

    --font-size-md: 0.85rem;
}

body {
    font-family: "Open Sans", sans-serif;
    color: var(--body-text);
    background-color: var(--body-bg-fst);
}

[data-theme="light"] {
    --body-text: #010409;
    --button-text: #000000;
    --button-hover: #838181;
    --body-bg-fst: #f8f9fa;
    --body-bg-snd: #eeefef;
    --button-bg-fst: #e3e3e3;
}

[data-theme="dark"] {
    --body-text: #f8f9fa;
    --button-text: #ffffff;
    --button-hover: #a1a0a0;
    --body-bg-fst: #222831;
    --body-bg-snd: #31363f;
    --button-bg-fst: rgb(67, 71, 83);
}