:root {
  /* Colors */
  --primary: #024087;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --body-color: #010409;
  --body-bg-fst: #f8f9fa;
  --body-bg-snd: #eeefef;
  --body-bg-trd: #e3e3e3;
  --button-fst: #010409;
  --button-bg-fst: #e3e3e3;
  --button-bg-snd: #eeefef;
  --button-bg-trd: #f8f9fa;
  --light: #f8f9fa;
  --dark: #010409;

  /* Spacings */
  --spacing-xxs: 0.1rem;
  --spacing-xs: 0.6rem;
  --spacing-sm: 0.8rem;
  --spacing-md: 1rem;
  --spacing-lg: 1.2rem;
  --spacing-xl: 3rem;

  /* Border radius */
  --border-radius-sm: 0.25rem;
  --border-radius-md: 0.5rem;

  /* Font sizes */
  --font-xs: 0.75rem;
  --font-sm: 0.875rem;
  --font-md: 1rem;
  --font-lg: 1.25rem;
  --font-xl: 1.5rem;
  --font-xxl: 2rem;
}

/* Light Theme Overrides */
[data-theme="light"] {
  --body-color: #010409;
  --body-bg-fst: #f8f9fa;
  --body-bg-snd: #eeefef;
  --body-bg-trd: #e3e3e3;
  --button-bg-fst: #e3e3e3;
  --button-bg-snd: #eeefef;
  --button-bg-trd: #f8f9fa;
  --button-fst: #010409;
}

/* Dark Theme Overrides */
[data-theme="dark"] {
  --body-color: #f8f9fa;
  --body-bg-fst: #010409;
  --body-bg-snd: #0e1117;
  --body-bg-trd: #161b23;
  --button-bg-fst: #161b23;
  --button-bg-snd: #0e1117;
  --button-bg-trd: #010409;
  --button-fst: #f8f9fa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Tahoma, sans-serif;
  font-size: var(--font-sm);
  color: var(--body-color);
  background-color: var(--body-bg-fst);
}

.container {
  margin: 0 auto;
  padding: var(--spacing-lg) var(--spacing-xl);
  
}

@media (max-width: 768px) {
  .container  {
    padding: var(--spacing-sm) var(--spacing-md);
  }
}
