/* 
 * COLORS
*/
:root {
  --primary: #0d6efd;
  --secondary: #6c757d;
  --success: #198754;
  --info: #0dcaf0;
  --warning: #ffc107;
  --danger: #dc3545;
  --body-color: #010409;
  --body-bg-fst: #f8f9fa;
  --body-bg-snd: #eeefef;
  --code-bg: #e3e3e3;
}

/* Light Theme Overrides */
[data-theme="light"] {
  --body-color: #010409;
  --body-bg-fst: #f8f9fa;
  --body-bg-snd: #eeefef;
  --code-bg: #e3e3e3;
}

/* Dark Theme Overrides */
[data-theme="dark"] {
  --body-color: #f8f9fa;
  --body-bg-fst: #010409;
  --body-bg-snd: #0e1117;
  --code-bg: #161b23;
}

body {
  color: var(--body-color);
  background-color: var(--body-bg-fst);
  margin: 0;
  font-family: Tahoma, sans-serif;
}

/* 
 * MARKDOWN EDITOR AREA
 */
#editorTextarea {
  width: 100%;
  height: 300px;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  background-color: var(--body-bg-snd);
  color: var(--body-color);
}

/* 
 * MARKDOWN PREVIEW AREA STYLES 
 */
 #previewArea {
  margin: 2rem auto;
  padding: 1.5rem;
  background-color: var(--body-bg-snd);
  color: var(--body-color);
}

/* Inline Code and Code Blocks */
#previewArea pre,
#previewArea code {
  background-color: var(--code-bg);
  border-radius: 5px;
  font-family: Consolas, "Courier New", monospace;
}