
html[data-bs-theme="dark"] {
  --bs-body-bg: #282a36;     
  --bs-body-color: #f8f9fa;   
}

.navbar {
  flex: 0 0 auto;
}

.CodeMirror {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}

.list-group-item {
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}

.list-group-item.active {
  z-index: 2;
  background-color: #6c757d;
  border-color: #6c757d;
  color: #fff;
}
