
html[data-bs-theme="dark"] {
  --bs-body-bg: #282a36;     
  --bs-body-color: #f8f9fa;   
}

.navbar {
  flex: 0 0 auto;
}

.CodeMirror {
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
}