ul.readme-grid {
    list-style: none;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: var(--spacing-lg);
  }
  
  ul.readme-grid li {
    background-color: var(--body-bg-snd);
    border: 1px solid var(--body-bg-fst);
    border-radius: var(--border-radius-md);
    padding: var(--spacing-md);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  ul.readme-grid li > div:first-of-type {
    margin-bottom: var(--spacing-md);
    font-size: var(--font-lg);
  }
  
  ul.readme-grid li > div:last-of-type {
    display: flex;
    gap: var(--spacing-sm);
  }

.profile {
    padding-top: var(--spacing-md);
}