html {
  scrollbar-width: thin;
  scrollbar-color: var(--button-bg-fst) var(--body-bg-fst);
}

::-webkit-scrollbar-track {
  background: var(--body-bg-fst);
  border-radius: var(--border-radius-sm);
}

::-webkit-scrollbar-thumb {
  background-color: var(--button-bg-fst);
  border-radius: var(--border-radius-sm);
  border: 2px solid var(--body-bg-fst);
}