<div class="card h-100">
  <div class="card-header">Components</div>
  <div class="card-body">
    <ul class="list-group" id="componentList">
      <li class="list-group-item" draggable="true" data-key="Installation">
        Installation
      </li>
      <li class="list-group-item" draggable="true" data-key="Usage">Usage</li>
      <li class="list-group-item" draggable="true" data-key="License">
        License
      </li>
    </ul>
  </div>
</div>
