<!-- Components -->
<div class="card h-100">
  <div class="card-header">Components</div>
  <div class="card-body">
    <ul class="list-group">
      <li class="list-group-item" draggable="true">Component 1</li>
      <li class="list-group-item" draggable="true">Component 2</li>
      <li class="list-group-item" draggable="true">Component 3</li>
    </ul>
  </div>
</div>
