<!-- Editor -->
<div class="card h-100">
  <div class="card-header">Editor</div>
  <div class="">
    <textarea
      id="editorTextarea"
      class="form-control h-100"
      placeholder="Edit content..."
    ></textarea>
  </div>
</div>
