<!-- Editor -->
<div class="card h-100">
  <div class="card-header">Editor</div>
  <div class="card-body">
    <textarea
      class="form-control h-100"
      placeholder="Edit content..."
      style="resize: none"
    ></textarea>
  </div>
</div>
