<!-- Preview -->
<div class="card h-100">
  <div class="card-header">Preview</div>
  <div class="card-body">
    <div class="border p-3 h-100">
      <p>Preview will be displayed here.</p>
    </div>
  </div>
</div>
